@xy:registry=https://xyz.jfrog.io/xyz/api/npm/npm-local/ 
@xy-app:registry=https://xyz.jfrog.io/xyz/api/npm/npm-local/
@foo:registry=https://gitlab.example.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/